<!DOCTYPE html>
<html>
<head>
	<title>Retar usuario</title>
</head>
<body>

	<form action="/usuarios/cancelarReto" method="post">
		<input type="text" name="ID_duelo" placeholder="ID_duelo" required>
		<button>Cancelar duelo</button>
	</form>
</body>
</html>