<!DOCTYPE html>
<html>
<head>
	<title>Retar usuario</title>
</head>
<body>

	<form action="/usuarios/retar" method="post">
		<input type="text" name="ID_retador" placeholder="ID_retador" required>
		<input type="text" name="ID_retado" placeholder="ID_retado" required>
		<button>Retar</button>
	</form>
</body>
</html>