
<label>Categoria</label>
<form action="/preguntas/crearCategoria" method="POST">

	<input type="text" placeholder="Categoria" name="name">
	<button type="submit">Enviar</button>
</form>
<label>Preguntas</label>
<form action="/preguntas/crearPregunta" method="POST">
	<input type="text" placeholder="Pregunta" name="pregunta"><br>
	<input type="text" placeholder="Respuesta 1" name="primera"><br>
	<input type="text" placeholder="Respuesta 2" name="segunda"><br>
	<input type="text" placeholder="Respuesta 3" name="tercera"><br>
	<input type="text" placeholder="Respuesta correcta" name="correcta"><br>
	<input type="text" placeholder="Categoria" name="categoria">
	<button type="submit">Enviar</button>
</form>
