<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/usuarios.css">
	<title>Title</title>
</head>
<header>
	<img src="img/user_default.png">
	<span class="header-nombre">Alejandro Peculio</span>
	<span class="header-puntuacion">Puntuaci칩n: 200pt</span>
	<button>Cerrar sesi칩n</button>
</header>
<body>
	<div>
		<div>
			<h3>Registrarse</h3>
			<form action="/usuarios/registro" method="post" enctype="multipart/form-data">
				<input required type="email" name="correo" placeholder="Correo">
				<input required type="text" name="nombre" placeholder="Nombre">
				<input required type="text" name="apellido" placeholder="Apellido">
				<input required type="password" name="pass" placeholder="Contrase침a">
				<input type="file" name="img" placeholder="Imagen">
				<button>Registrarse</button>
			</form>
		</div>
		<img src="img/trivia.jpg">
	</div>

	
	<form action="/usuarios/actualizar" method="post">
		<input required type="email" name="correo" placeholder="Correo">
		<input required type="text" name="nombre" placeholder="Nombre">
		<input required type="text" name="apellido" placeholder="Apellido">
		<input required type="password" name="pass" placeholder="Contrase침a">
		<input required type="text" name="tipo" placeholder="Tipo">
		<input required type="number" name="mmrestantes" placeholder="Mano a mano restantes">
		<input required type="number" name="puntaje" placeholder="Puntaje">
		<button>Actualizar usuario</button>
	</form>

	<form action="/usuarios/obtener" method="get">
		<input type="email" name="correo" placeholder="Correo" required>
		<button>Obtener usuario</button>
	</form>

	<form action="/usuarios/eliminar" method="post">
		<input type="email" name="correo" placeholder="Correo" required>
		<button>Eliminar usuario</button>
	</form>
</body>
</html>